{% extends 'main/Primary/base.html' %}
{% load static %}
{% block meta_tags %}
    <!-- META TAGS -->
    <meta property="og:title" content="Category"/>
    <meta property="og:description" content="ReiserX categories"/>
    <meta property="og:image" content="https://res.cloudinary.com/reiserx/image/upload/v1696657776/ReiserX/Home_bk0ch7.png"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Begin Featured
        ================================================== -->
        <section class="featured-posts">

            <div class="card-columns listfeaturedtag">

                {% for object in category %}
                    <!-- begin post -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail" style="height: 258px;">
                                <a href="{% url 'search_by_category' object.slug %}">
                                    <div class="thumbnail" style="background-image:url({{ object.image.url }}); width: unset; height: 258px">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a
                                            href="{% url 'search_by_category' object.slug %}">{{ object.category }}</a>
                                    </h2>
                                    <h4 class="card-text">{{ object.description }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post -->
                {% endfor %}
            </div>
        </section>
        <!-- End Featured
        ================================================== -->

    </div>
    <!-- /.container -->

{% endblock %}