{% extends 'main/base.html' %}

{% block content %}
<!-- Begin Top Author Page
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="mainheading">
                <div class="row post-top-meta authorpage">
                    <div class="col-md-10 col-xs-12">
                        <h1>{{ user.get_full_name }}</h1>
                        <span class="author-description">Founder of <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a> and creator of <strong>"Mediumish"</strong> theme that you're currently previewing. I professionally develop premium themes, templates & scripts since the Apocalypse (2012). You can reach me out on the social links below.</span>
                        <div class="sociallinks"><a target="_blank" href="https://www.facebook.com/wowthemesnet/"><i
                                class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank"
                                                                                             href="https://plus.google.com/s/wowthemesnet/top"><i
                                class="fa fa-google-plus"></i></a></div>
                        <a target="_blank" href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <img class="author-thumb"
                             src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                             alt="Sal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Author Posts
================================================== -->

    <div class="container">
        <div class="listrecent listrelated">

            {% for post in posts %}
            <!-- begin post -->
            <div class="authorpostbox">
                <div class="card card-no-hover">
                    <a href="{% url 'open' post.get_author_name post.slug %}">
                        <div style="height: 250px; width: auto; overflow: hidden;">
                            <img style="position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); height: auto; width: 100%;" src="{{ post.image.url }}" alt="">
                        </div>
                    </a>
                    <div class="card-block">
                        <h2 class="card-title"><a href="{% url 'open' post.get_author_name post.slug %}">{{ post.title}}</a></h2>
                        <h4 class="card-text">{{ post.description }}</h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
									</span>
                                <span class="author-meta">
									<span class="post-date">{{ post.get_date }}</span><span class="dot"></span><span class="post-read">{{ post.get_reading_time }} min read</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end post -->
            {% endfor %}
        <style>
            .card {
  box-shadow: none !important;
}
            .card-block {
  padding-top: 15px;
                    padding-left: 1px;
                    padding-right: unset;
                    padding-bottom: 8px;
}
        </style>
        </div>
    </div>
<!-- End Author Posts
================================================== -->

{% endblock %}