{% extends 'main/base.html' %}
{% block meta_tags %}
    <!-- META TAGS -->
    <meta property="og:title" content="{{ category }}"/>
    <meta property="og:description" content="{{ desc }}"/>
    <meta property="og:image" content="{{ category_image }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->
{% endblock %}
{% block content %}

<!-- Begin Top Author Page
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="mainheading">
                <div class="row post-top-meta authorpage">
                    <div class="col-md-10 col-xs-12">
                        <h1>{{ category }}</h1>
                        <span class="author-description">{{ desc }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Author Posts
================================================== -->
    <div class="container">
        <div class="listrecent listrelated">

            {% for post in posts %}
                <!-- begin post -->
                <div class="authorpostbox">
                    <div class="card">
                        <a href="{% url 'open' post.author.get_username post.slug %}">
                            <div style="height: 250px; width: auto; overflow: hidden;">
                            <img style="position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); height: auto; width: 100%;" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                        </a>
                        <div class="card-block">
                            <h2 class="card-title"><a href="{% url 'open' post.get_author_name post.slug %}">{{ post.title }}</a></h2>
                            <h4 class="card-text">{{ post.description }}</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                <span class="meta-footer-thumb">
                                <a href="category.html">
                                    {% if post.author.userprofile.image.url %}
                                        <img class="author-thumb" src="{{ post.author.userprofile.image.url }}" alt="{{ post.author.username }}">
                                    {% else %}
                                        <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="default">
                                    {% endif %}
                                </a>
                                </span>
                                    <span class="author-meta">
                                        <span class="post-name"><a href="{% url 'search_by_author' post.author.username %}">{{ post.get_author_name }}</a></span>
                                        <br/>
                                        <span class="post-date">{{ post.get_date }}</span>
                                        <span class="dot"></span>
                                        <span class="post-read">{{ post.get_reading_time }} min read</span>
                                    </span>
                                    <span class="post-read-more">
                                        <a href="{% url 'open' post.get_author_name post.slug %}" title="Read Story">
                                        <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                                            <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                                        </svg>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            {% endfor %}
<style>
            .card {
  box-shadow: none !important;
}
            .card-block {
  padding-top: 15px;
                    padding-left: 1px;
                    padding-right: unset;
                    padding-bottom: 8px;
}
        </style>
        </div>
    </div>
<!-- End Author Posts
================================================== -->

{% endblock %}
