{% extends 'main/base.html' %}
{% load static %}
{% block meta_tags %}
    <!-- META TAGS -->
    <meta property="og:title" content="ReiserX"/>
    <meta property="og:description" content="Discover the wonders of science with us"/>
    <meta property="og:image" content="{% static 'reiserx/img/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>

    <style>
        .cc-window {
            max-width: 600px;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(162, 162, 162, 0.5);
            font-family: Arial, sans-serif;
            background-color: #fff;
        }

        .cc-message {
            color: #333;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
        }

        .cc-link {
            color: #349d00 !important;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

        .cc-link:hover {
            color: #d5d5d5;
        !important;
            text-decoration: none;
        }

        .cc-compliance {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;
        }

        .cc-compliance a {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            display: block;
        }

        .cc-compliance a:hover {
            color: #ffffff;
        }

        .cc-compliance .cc-btn.cc-allow {
            background-color: #349d00;
            color: #fff;
            font-size: 16px;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
        }

        .cc-compliance .cc-btn.cc-allow:hover {
            background-color: #195400;
            color: #fff;
        }

        .cc-compliance .cc-btn.cc-deny {
            background-color: #ffcece;
            color: #ffffff;
        !important;
            font-size: 16px;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
        }

        .cc-compliance .cc-btn.cc-deny:hover {
            background-color: #ff3030;
            color: #fff;
            text-decoration: none;
        }
.center-horizontal {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.container.listfeaturedtag {
        margin: 0;
        padding: 0;
    }

    .card.border-0 {
        margin: 0;
        padding: 0;
    }
    </style>

    <div class="row center-horizontal m-0">
        <div class="col-md-6 col-sm-5 col-xs-6 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
            <div class="container listfeaturedtag">
                <div class="section-title">
                    <h2><span>Featured</span></h2>
                </div>
                <div class="row">
            {% for post in posts %}
                <!-- begin post -->
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-12">
                    <div class="card border-0">
                        <div class="card-block">
                            <div class="row" style="align-items: center">
                                <div class="col-9">
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="author-meta">
                                                <img class="rounded-circle" src="{{ post.author.userprofile.image.url }}" alt="Profile Icon" width="24" height="24">
                                                <span class="post-name">
                                                    <a href="{% url 'search_by_author' post.get_author_name %}" aria-label="{{ post.get_author_name }}">{{ post.get_author_name }}</a>
                                                </span>
                                                <span class="dot">
                                                </span>
                                                <span class="post-date">{{ post.get_date }}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <h2 class="card-title">
                                        <a href="{% url 'open' post.get_author_name post.slug %}" aria-label="{{ post.title }}">{{ post.title }}</a>
                                    </h2>
                                    <p class="card-text">
                                        <a href="{% url 'open' post.get_author_name post.slug %}">{{ post.description }}</a>
                                    </p>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="author-meta">
                                                <span class="post-date">{{ post.category.category }}</span>
                                                <span class="dot"></span>
                                                <span class="post-read">{{ post.get_reading_time }} min read</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="thumbnail-wrapper">
                                        <a href="{% url 'open' post.get_author_name post.slug %}">
                                            <div class="thumbnail" style="background-image: url('{{ post.image.url }}?f_auto,q_auto');" role="img" aria-label="{{ post.title }}"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            {% endfor %}
        </div>

        <!-- End Featured
        ================================================== -->

        <!-- Begin List Posts -->
        <div class="section-title">
            <h2><span>All POSTS</span></h2>
        </div>
        <div class="row" id="post-list">
            {% for post in all_posts %}
                        <!-- begin post -->
                <div class="col-md-12 col-xl-12 col-xs-12 col-sm-8 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                    <div class="card border-0">
                        <div class="card-block">
                            <div class="row" style="align-items: center">
                                <div class="col-9">
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="author-meta">
                                                <img class="rounded-circle" src="{{ post.author.userprofile.image.url }}" alt="Profile Icon" width="24" height="24">
                                                <span class="post-name">
                                                    <a href="{% url 'search_by_author' post.get_author_name %}" aria-label="{{ post.get_author_name }}">{{ post.get_author_name }}</a>
                                                </span>
                                                <span class="dot">
                                                </span>
                                                <span class="post-date">{{ post.get_date }}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <h2 class="card-title">
                                        <a href="{% url 'open' post.get_author_name post.slug %}" aria-label="{{ post.title }}">{{ post.title }}</a>
                                    </h2>
                                    <p class="card-text">
                                        <a href="{% url 'open' post.get_author_name post.slug %}">{{ post.description }}</a>
                                    </p>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="author-meta">
                                                <span class="post-date">{{ post.category.category }}</span>
                                                <span class="dot"></span>
                                                <span class="post-read">{{ post.get_reading_time }} min read</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="thumbnail-wrapper">
                                        <a href="{% url 'open' post.get_author_name post.slug %}">
                                            <div class="thumbnail" style="background-image: url('{{ post.image.url }}?f_auto,q_auto');" role="img" aria-label="{{ post.title }}"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            {% endfor %}
        </div>
        <style>
            .card-img-top.placeholder {
                background-color: #9d9d9d;
                height: 100px;
                width: 100%;
            }
        </style>
        <div id="sentinel"></div>
        <!-- End List Posts -->

        <!-- Placeholder post -->
        <div id="placeholder-template" style="display: none;">
            <div class="col-md-10 col-xl-12 col-xs-10 col-sm-8 placeholder-post">
                <div class="card border-0">
                    <div class="card-block">
                        <div class="row" style="align-items: center">
                            <div class="col-9">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6 placeholder-lg" style="height: 25px; margin-top: 8px"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"
                                  style="height: 20px; margin-bottom: 8px; margin-top: 8px"></span>
                                    <span class="placeholder col-4" style="height: 20px; margin-bottom: 8px"></span>
                                    <span class="placeholder col-4" style="height: 20px; margin-bottom: 8px"></span>
                                    <span class="placeholder col-6" style="height: 20px; margin-bottom: 8px"></span>
                                    <span class="placeholder col-8" style="height: 20px;"></span>
                                </p>
                                <div class="metafooter">
                                    <div class="wrapfooter placeholder-glow">
                                        <span class="placeholder col-4" style="height: 15px"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="thumbnail">
                                    <div class="card-img-top placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Placeholder post -->
            </div>

        <!-- /.container -->
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff"
                },
                "button": {
                    "background": "#349d00"
                }
            },
            "position": "bottom-left",
            "type": "opt-in",
            "content": {
                "message": "This website uses cookies to ensure you get the best experience.",
                "deny": "Deny",
                "allow": "Accept",
                "href": "{% url 'about' %}"
            }
        });
        var screenWidth = window.innerWidth;
    </script>

    <!-- JavaScript code -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var currentPage = 2;
        var loadMoreUrl = "{% url 'load_more' %}";
        var placeholders = [];
        var placeholderCount = 0;
        var has_next = true;
        var isLoading = false; // Flag to track loading state

        const placeholderElements = document.getElementsByClassName('placeholder-post');
        placeholderCount = placeholderElements.length;

        for (let i = 0; i < placeholderCount; i++) {
            const placeholderClone = placeholderElements[i].cloneNode(true);
            placeholders.push(placeholderClone);
        }

        function showPlaceholders() {
            const postList = document.getElementById('post-list');

            // Add placeholders to the post list
            const placeholderElement = placeholders[0].cloneNode(true);
            postList.appendChild(placeholderElement);
        }


        function hidePlaceholders() {
            const placeholders = document.getElementsByClassName('placeholder-post');

            // Remove the placeholders from the post list
            while (placeholders.length > 0) {
                placeholders[0].parentNode.removeChild(placeholders[0]);
            }
        }

        function loadMorePosts() {
            if (isLoading) {
            return; // Return if a request is already in progress
        }

        isLoading = true; // Set loading state to true

            showPlaceholders();

            $.ajax({
                url: loadMoreUrl,
                data: {page: currentPage},
                dataType: 'json',
                success: function (response) {
                    var renderedPosts = response.rendered_posts;
                    hidePlaceholders();
                    $('#post-list').append(renderedPosts);
                    currentPage++;
                    if (!response.has_next_page) {
                        $('#load-more-button').hide();
                        has_next = false;
                    } else {
                        has_next = true;
                    }
                    isLoading = false; // Set loading state to false after request completes
                },
                error: function () {
                    hidePlaceholders();
                    isLoading = false; // Set loading state to false after request completes
                }
            });
        }

        function handleScroll() {
            const windowHeight = window.innerHeight;
            const documentHeight = document.documentElement.scrollHeight;
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            const scrollBottom = scrollTop + windowHeight;

            if (scrollBottom >= documentHeight && has_next) {
                loadMorePosts();
            }
        }

        function handleScroll(entries) {
            entries.forEach(entry => {
                if (entry.isIntersecting && has_next && !isLoading) {
                    loadMorePosts();
                }
            });
        }

        const sentinel = document.getElementById('sentinel');
        const observer = new IntersectionObserver(handleScroll, {
            root: null,
            rootMargin: '0px',
            threshold: 0.1, // Adjust this threshold as needed
        });
        observer.observe(sentinel);

    </script>


{% endblock %}
