{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMP7BP8M0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-4FMP7BP8M0');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ post.title }}">
    <meta name="author" content="ReiserX">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicon/site.webmanifest' %}">

    <title>{{ post.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static '/reiserx/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static '/reiserx/css/mediumish.css' %}" rel="stylesheet">
    <link href="{% static '/reiserx/css/fonting.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/reiserx/css/custom.css' %}" rel="stylesheet" type="text/css">

    <!-- META TAGS -->
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.description }}"/>
    <meta property="og:image" content="{{ post.image.url }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->

</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{% url 'home' %}"><h2>R</h2></a>
        <!-- End Logo -->
        <div class=" collapse navbar-collapse" id="navbarsExampleDefault">
           <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">CATEGORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                </li>
            </ul>
            <!-- End Menu -->
            <!-- Begin Search -->
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
                <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path
                        d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
            </form>
            <!-- End Search -->
        </div>
    </div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container" style="max-width: 1065px;">
    <div class="row">

        <!-- Begin Fixed Left Share -->
        <div class="col-md-2 col-xs-12">
        </div>
        <!-- End Fixed Left Share -->

        <!-- Begin Post -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="mainheading">

                <!-- Begin Top Meta -->
                <div class="row post-top-meta">
                    <div class="col-md-10">
                        <a class="link-dark"
                           href="{% url 'search_by_author' post.get_author_name %}">{{ post.get_author_name }}</a><br>
                        <span class="author-description">{{ post.author.userprofile.bio }}</span><br>
                        <span class="post-date">{{ post.get_date }}</span><span class="dot"></span><span
                            class="post-read">{{ post.get_reading_time }} min read</span>
                    </div>
                </div>
                <!-- End Top Menta -->

                <h1 class="posttitle">{{ post.title }}</h1>

            </div>

            <!-- Begin Featured Image -->
            <img class="featured-image img-fluid" src="{{ post.image.url }}?f_auto,q_auto" alt="{{ post.title }}" loading="lazy">
            <!-- End Featured Image -->

            <!-- Begin Post Content -->
            <div class="article-post">
                <div class="content">{{ post.get_content | safe }}</div>
            </div>
            <!-- End Post Content -->

            <!-- Begin Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% for tag in tagss %}
                        <li><a href="{% url 'search_by_tag' tag.slug %}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

        </div>
        <!-- End Post -->
    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Related
================================================== -->

    <div class="container">
        <div class="row listrecent listrelated">

            {% for post in related %}
                <!-- begin post -->
                <div class="col-md-4">
                    <div class="card card-flat">
                        <a href="{% url 'open' post.get_author_name post.slug %}">
                            <img class="img-fluid img-thumb" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                        <div class="card-block">
                            <h5 class="card-title"><a
                                    href="{% url 'open' post.get_author_name post.slug %} " style="color: black; font-weight: bold">{{ post.title }}</a>
                            </h5>
                            <h4 class="card-text">{{ post.description }}</h4>
                            <div class="metafooter">
                                <div class="wrapfooter"><span class="author-meta"><span class="post-name"><a href="{% url 'search_by_author' post.author.username %}">{{ post.get_author_name }}</a></span><br/>
								<span class="post-date">{{ post.get_date }}</span><span class="dot"></span><span
                                            class="post-read">{{ post.get_reading_time }} min read</span>
								</span>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end post -->
            {% endfor %}
        </div>
    </div>
<br>

<div class="container" id="comments-section">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
            {% for comment in comments %}
                <div class="media content-section">
                    <div class="media-body">
                        <p>{{ comment.content }}</p>
                        <div class="text-right">
                            <h6 class="mb-0" style="font-size: 0.9em">{{ comment.name }}</h6>
                            <small class="text-muted"
                                   style="font-style: italic">{{ comment.timestamp|timesince }}</small>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
            <div class="comment-section">
                <h3>Add a Comment:</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Related Posts
================================================== -->

{% if not subscribed %}
<!-- Begin AlertBar
================================================== -->
<div class="alertbar">
    <div class="container text-center">
        <img src="{% static 'reiserx/img/logo.png' %}" alt=""> &nbsp; Never miss a <b>story</b> from us, get weekly
        updates in your inbox. <a href="{% url 'subscribe' %}" class="btn subscribe">Get Updates</a>
    </div>
</div>
<!-- End AlertBar
================================================== -->
{% endif %}

<!-- Begin Footer
================================================== -->
<div class="container">
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2023 ReiserX
        </p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static '/reiserx/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="{% static '/reiserx/js/bootstrap.min.js' %}"></script>
<script src="{% static '/reiserx/js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static '/reiserx/js/mediumish.js' %}"></script>

<script>
    var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.querySelector(".navbar.fixed-top").classList.remove("hidden");
  } else {
    document.querySelector(".navbar.fixed-top").classList.add("hidden");
  }
  prevScrollpos = currentScrollPos;
}
</script>
</body>
</html>
