{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About">
    <meta name="author" content="ReiserX">
    <title>About</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'reiserx/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'reiserx/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reiserx/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'reiserx/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reiserx/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'reiserx/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reiserx/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'reiserx/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'reiserx/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'reiserx/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <title>About</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '/reiserx/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static '/reiserx/css/mediumish-'|add:ASSET_VERSION|add:'.css' %}" rel="stylesheet">
    <link href="{% static '/reiserx/css/fonting.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/reiserx/css/custom.css' %}" rel="stylesheet" type="text/css">

    <!-- META TAGS -->
    <meta property="og:title" content="About"/>
    <meta property="og:description" content="Exploring AI, Igniting Innovation"/>
    <meta property="og:image" content="{% static 'reiserx/img/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1588658066763563"
     crossorigin="anonymous"></script>
    <style>
    .menu {
        padding: 8px;
        font-size: 16px;
    }
</style>
</head>
<body>
<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation">
    <div class="container-fluid">
        <!-- Begin Logo -->
        <div class="d-flex align-items-lg-start">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'reiserx/img/logo.png' %}" alt="logo">
            </a>
            <!-- End Logo -->

            <!-- Begin Search -->
            <div class="d-flex">
                <form class="d-flex d-lg-none ml-auto">
                    <button id="searchIcon" class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false"
                            aria-label="Toggle Search">
                        <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                            <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                        </svg>
                    </button>
                </form>
                <form class="d-none d-lg-flex align-items-center" method="get" action="{% url 'search' %}">
                    <input class="form-control me-2 search-input" name="q" type="text" placeholder="Search">
                </form>
            </div>
            <!-- End Search -->
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
        <div class=" collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AI
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item menu" href="{% url 'text_generation' %}">Text generation</a>
                            <a class="dropdown-item menu" href="{% url 'stable_diffusion' %}">Image generation</a>
                            <a class="dropdown-item menu" href="{% url 'tag_generation' %}">Tags generation</a>
                            <a class="dropdown-item menu" href="{% url 'summary_generation' %}">Summary generation</a>
                            <a class="dropdown-item menu" href="{% url 'transcription' %}">Transcription</a>
                        </div>
                    </li>
                <li class="nav-item active">
                        <a class="nav-link" href="https://vocalhost.reiserx.com/">VOCALHOST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">CATEGORY</a>
                </li>
            </ul>
            <!-- End Menu -->
        </div>
        </div>
    </div>
</nav>

<div id="searchOverlay" class="search-overlay">
    <form method="get" action="{% url 'search' %}" class="search-form">
        <input class="form-control search-input-large" name="q" type="text" placeholder="Search">
    </form>
</div>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Begin Fixed Left Share -->
        <div class="col-md-2 col-xs-12"></div>
        <!-- End Fixed Left Share -->

        <!-- Begin Post -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="mainheading">

                <h1 class="posttitle">{{ title }}</h1>

            </div>

            <!-- Begin Post Content -->
            <div class="article-post">
                <p class="content">At ReiserX, we're more than just a website – we're a gateway to a world of endless curiosity and exploration. As a platform dedicated to fostering a deep understanding and appreciation for the wonders of AI, space, technology, science, and beyond, we invite you to embark on an exhilarating journey that knows no limits.</p>
                <br>
                <h2>Unveiling the Marvels of Knowledge:</h2>
                <p class="content">Our mission is simple yet profound – to illuminate the most fascinating aspects of the modern world and beyond. From the latest breakthroughs in artificial intelligence to the enigmatic mysteries of the cosmos, our expertly curated blogs and articles will take you on an intellectual adventure like no other. We're committed to offering you insightful, engaging, and thought-provoking content that sparks your curiosity and fuels your hunger for knowledge.</p>
                <br>
                <h2>A Tapestry of Topics:</h2>
                <p class="content">ReiserX is your one-stop destination for a myriad of subjects. Delve into the world of AI, where algorithms simulate human-like thinking and reshape industries. Explore the mysteries of space, from distant galaxies to the marvels of astrophysics. Dive into the realm of technology, where innovation paves the way for a future we've only dreamed of. And uncover the wonders of science, where every discovery uncovers new layers of understanding about our world and existence.</p>
                <br>
                <h2>AI Models: Empowering Creativity:</h2>
                <p class="content">But ReiserX goes beyond just content – we empower your creativity with cutting-edge AI models. Craft compelling narratives with our text generation model, distill complex concepts with our summary generation tool, organize information seamlessly with our tags generation feature, and visualize your ideas with our image generation capabilities. Our AI models are designed to amplify your potential and bring your ideas to life.</p>
                <br>
                <h2>Multilingual AI Reading and Article Summarization:</h2>
                <p class="content">Moreover, ReiserX offers unique features for your convenience. With our Multilingual AI Reading feature, you can explore our articles in over 150 languages, making knowledge accessible to a global audience. Additionally, our AI-Powered Article Summarization tool condenses lengthy articles into concise summaries, allowing you to grasp key insights quickly.</p>
                <br>
                <h2>Endless Possibilities Await:</h2>
                <p class="content">As we continue to evolve, ReiserX will expand its offerings even further. With a commitment to innovation, we're on a continuous quest to provide you with new features, insights, and tools that empower your learning and creativity.</p>
                <br>
                <h2>Join the Journey:</h2>
                <p class="content">So, whether you're an AI enthusiast, a space aficionado, a tech lover, a science buff, or simply someone hungry for knowledge, ReiserX welcomes you. Join us on this exciting journey of discovery, where every click, read, and interaction brings you one step closer to understanding the intricacies of our world and the universe beyond.</p>
                <br>
                <p class="content">The ReiserX team is dedicated to igniting your curiosity and inspiring your imagination. Together, let's explore, learn, and create in a realm where the boundaries of knowledge are meant to be pushed, and the pursuit of understanding knows no end. Welcome to ReiserX – the adventure awaits!</p>
                <br>
                <div style="text-align: right;">
                    <a href="{% url 'contact' %}" style="color: #349d00; font-weight: bold; text-decoration: none; font-size: 16px; margin-left: 10px;">Contact Us</a>
                    <a href="{% url 'policy' %}" style="color: #349d00; font-weight: bold; text-decoration: none; font-size: 16px; margin-left: 10px;">Privacy policy</a>
                </div>
            </div>
            <!-- End Post Content -->

        </div>
        <!-- End Post -->
    </div>
</div>
<br>
<br>
<!-- End Article
================================================== -->

<!-- Begin AlertBar
================================================== -->
<div class="alertbar">
    <div class="container text-center">
        <img src="{% static 'reiserx/img/logo.png' %}" width="35" height="35" alt="logo"> &nbsp; Never miss a <b>story</b> from us, get weekly
        updates in your inbox. <a href="{% url 'subscribe' %}" class="btn subscribe">Get Updates</a>
    </div>
</div>
<!-- End AlertBar
================================================== -->

<!-- Begin Footer
================================================== -->
<div class="container">
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2023 ReiserX
        </p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static '/reiserx/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script async src="{% static '/reiserx/js/bootstrap.min.js' %}"></script>
<script async src="{% static '/reiserx/js/ie10-viewport-bug-workaround.js' %}"></script>
<script async src="{% static '/reiserx/js/mediumish.js' %}"></script>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMP7BP8M0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-4FMP7BP8M0');
    </script>

</body>
</html>
