{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About">
    <meta name="author" content="ReiserX">
    <title>About</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'reiserx/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'reiserx/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reiserx/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'reiserx/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reiserx/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'reiserx/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reiserx/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'reiserx/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'reiserx/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'reiserx/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <title>About</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '/reiserx/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static '/reiserx/css/mediumish-'|add:ASSET_VERSION|add:'.css' %}" rel="stylesheet">
    <link href="{% static '/reiserx/css/fonting.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/reiserx/css/custom.css' %}" rel="stylesheet" type="text/css">

    <!-- META TAGS -->
    <meta property="og:title" content="About"/>
    <meta property="og:description" content="Discover the wonders of cosmos"/>
    <meta property="og:image" content="{% static 'reiserx/img/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->
</head>
<body>
<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation">
    <div class="container-fluid">
        <!-- Begin Logo -->
        <div class="d-flex align-items-lg-start">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'reiserx/img/logo.png' %}" alt="logo">
            </a>
            <!-- End Logo -->

            <!-- Begin Search -->
            <div class="d-flex">
                <form class="d-flex d-lg-none ml-auto">
                    <button id="searchIcon" class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false"
                            aria-label="Toggle Search">
                        <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                            <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                        </svg>
                    </button>
                </form>
                <form class="d-none d-lg-flex align-items-center" method="get" action="{% url 'search' %}">
                    <input class="form-control me-2 search-input" name="q" type="text" placeholder="Search">
                </form>
            </div>
            <!-- End Search -->
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
        <div class=" collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'stable_diffusion' %}">AI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">CATEGORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                </li>
            </ul>
            <!-- End Menu -->
        </div>
        </div>
    </div>
</nav>

<div id="searchOverlay" class="search-overlay">
    <form method="get" action="{% url 'search' %}" class="search-form">
        <input class="form-control search-input-large" name="q" type="text" placeholder="Search">
    </form>
</div>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Begin Fixed Left Share -->
        <div class="col-md-2 col-xs-12"></div>
        <!-- End Fixed Left Share -->

        <!-- Begin Post -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="mainheading">

                <h1 class="posttitle">{{ title }}</h1>

            </div>

            <!-- Begin Post Content -->
            <div class="article-post">
                <p class="content">Welcome to the universe of ReiserX, where you'll embark on an incredible journey of adventure and discovery! When you join us, you'll experience a cosmic voyage like no other. Our mission is to explore the vast mysteries of the universe while having an absolute blast along the way. Our team of expert explorers will take you on a thrilling ride through the cosmos, sharing fascinating insights and mind-boggling discoveries at every step.</p>
                <br>
                <p class="content">At ReiserX, we're passionate about uncovering the latest advancements in cutting-edge technology and unraveling the weirdest and most astonishing scientific findings. We believe that learning should be fun and engaging, so we love to sprinkle in jokes and humorous anecdotes throughout our content. Did you know that there's a planet where it actually rains diamonds? Or that there's a massive black hole in the center of our galaxy, millions of times larger than our sun? These mind-blowing facts are just a glimpse of what you'll encounter on your journey with ReiserX.</p>
                <br>
                <p class="content">Join us for an exciting adventure filled with limitless possibilities. Get ready to embark on a cosmic exploration that will ignite your curiosity and leave you in awe. Who knows, you might even stumble upon a new planet or uncover a groundbreaking discovery of your own!</p>
                <br>
                <p class="content">So, come aboard and immerse yourself in the fun and excitement of ReiserX. Let's blast off together into a world of endless discovery and wonder. The universe is waiting for you!</p>
                <br>
                <a href="{% url 'home' %}" style="color: #349d00; font-weight: bold; text-decoration: none; font-size: 16px;">Let's launch the universe of ReiserX!</a>
                <div style="text-align: right;">
                    <a href="{% url 'contact' %}" style="color: #349d00; font-weight: bold; text-decoration: none; font-size: 16px; margin-left: 10px;">Contact Us</a>
                    <a href="{% url 'policy' %}" style="color: #349d00; font-weight: bold; text-decoration: none; font-size: 16px; margin-left: 10px;">Privacy policy</a>
                </div>
            </div>
            <!-- End Post Content -->

        </div>
        <!-- End Post -->
    </div>
</div>
<br>
<br>
<!-- End Article
================================================== -->

<!-- Begin AlertBar
================================================== -->
<div class="alertbar">
    <div class="container text-center">
        <img src="{% static 'reiserx/img/logo.png' %}" width="35" height="35" alt="logo"> &nbsp; Never miss a <b>story</b> from us, get weekly
        updates in your inbox. <a href="{% url 'subscribe' %}" class="btn subscribe">Get Updates</a>
    </div>
</div>
<!-- End AlertBar
================================================== -->

<!-- Begin Footer
================================================== -->
<div class="container">
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2023 ReiserX
        </p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static '/reiserx/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script async src="{% static '/reiserx/js/bootstrap.min.js' %}"></script>
<script async src="{% static '/reiserx/js/ie10-viewport-bug-workaround.js' %}"></script>
<script async src="{% static '/reiserx/js/mediumish.js' %}"></script>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMP7BP8M0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-4FMP7BP8M0');
    </script>

</body>
</html>
