{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Privacy policy">
    <meta name="author" content="ReiserX">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'reiserx/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'reiserx/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reiserx/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'reiserx/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reiserx/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'reiserx/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reiserx/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'reiserx/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'reiserx/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'reiserx/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->

    <title>Privacy policy</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static '/reiserx/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static '/reiserx/css/mediumish-'|add:ASSET_VERSION|add:'.css' %}" rel="stylesheet">
    <link href="{% static '/reiserx/css/fonting.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/reiserx/css/custom.css' %}" rel="stylesheet" type="text/css">

    <!-- META TAGS -->
    <meta property="og:title" content="Privacy policy"/>
    <meta property="og:description" content="Discover the wonders of cosmos"/>
    <meta property="og:image" content="{% static 'reiserx/img/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- META TAGS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1588658066763563"
     crossorigin="anonymous"></script>
</head>
<body>

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Begin Fixed Left Share -->
        <div class="col-md-2 col-xs-12"></div>
        <!-- End Fixed Left Share -->

        <!-- Begin Post -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="mainheading">

                <h1 class="posttitle">Privacy Policy - ReiserX</h1>

            </div>

            <!-- Begin Post Content -->
            <div class="article-post">
                <p class="content">This Privacy Policy governs the manner in which ReiserX ("we" or "us") collects, uses, and discloses
                    information collected from users ("User" or "you") of the ReiserX website. We are committed to
                    protecting your privacy and ensuring the security of any personal information you provide. By using
                    our website, you agree to the terms of this Privacy Policy.</p>
                <ol class="content">
                    <li class="content">
                        <h4>Information We Collect</h4>
                    </li>
                </ol>
                <p class="content">1.1 Personal Information: We may collect personal information from Users in the following ways:</p>
                <ul class="content">
                    <li class="content">Contact Forms: When you submit a contact form on our website, we may collect your name and email
                        address in order to respond to your inquiry.
                    </li>
                    <li class="content">Email Subscription: If you voluntarily subscribe to our email newsletter, we collect your email
                        address to send you updates, news, and promotional content.
                    </li>
                </ul>
                <p class="content">1.2 Usage Data: We may automatically collect non-personal information about Users whenever they
                    interact with our website. This may include the browser name, device type, IP address, operating
                    system, the pages visited on our site, the time and date of the visit, and other similar
                    information. We collect this information to analyze trends, improve our website, and enhance the
                    user experience.</p>
                <ol start="2" class="content">
                    <li class="content">
                        <h4 class="content">Use of Information</h4>
                    </li>
                </ol>
                <p class="content">2.1 Personal Information: We may use the personal information provided by Users for the following
                    purposes:</p>
                <ul class="content">
                    <li class="content">To respond to your inquiries: The information you provide through contact forms allows us to
                        answer your questions and address your concerns.
                    </li>
                    <li class="content">To send email updates: If you subscribe to our newsletter, we will use your email address to
                        send you relevant updates and promotional content.
                    </li>
                </ul>
                <p class="content">2.2 Usage Data:</p>
                <p class="content">We may use non-personal information collected from Users to analyze website traffic, monitor the
                    performance of our website, and improve its functionality and content.</p>
                <ol start="3" class="content">
                    <li class="content">
                        <h4 class="content">Cookies and Tracking Technologies</h4>
                    </li>
                </ol>
                <p class="content">We may use cookies and similar tracking technologies to enhance the user experience and provide
                    personalized features. Cookies are small files stored on your device that allow us to recognize and
                    remember your preferences. By using our website, you consent to the use of cookies.</p>
                <ol start="4" class="content">
                    <li class="content">
                        <h4 class="content">Data Security</h4>
                    </li>
                </ol>
                <p class="content">We take reasonable measures to protect the personal information and data provided by Users. However,
                    please note that no method of transmission over the Internet or electronic storage is 100% secure.
                    We cannot guarantee absolute security, and we disclaim liability for any data breaches or
                    unauthorized access to personal information.</p>
                <ol start="5" class="content">
                    <li class="content">
                        <h4 class="content">Third-Party Services</h4>
                    </li>
                </ol>
                <p class="content">We may use third-party services, such as Google Analytics, to collect and analyze data about website
                    usage. These third-party service providers have their own privacy policies governing the collection,
                    use, and disclosure of information. We encourage you to review their privacy policies.</p>
                <ol start="6" class="content">
                    <li class="content">
                        <h4 class="content">Links to Third-Party Websites</h4>
                    </li>
                </ol>
                <p class="content">Our website may contain links to third-party websites. These links are provided for your convenience
                    and do not imply endorsement or responsibility for the content, privacy policies, or practices of
                    those websites. We encourage you to review the privacy policies of any third-party sites you
                    visit.</p>
                <ol start="7" class="content">
                    <li class="content">
                        <h4 class="content">Changes to this Privacy Policy</h4>
                    </li>
                </ol>
                <p class="content">We reserve the right to update or modify this Privacy Policy at any time. Any changes will be
                    effective upon posting the revised Privacy Policy on our website. We encourage Users to review this
                    Privacy Policy periodically for any updates or changes.</p>
                <ol start="8" class="content">
                    <li class="content">
                        <h4 class="content">Contact Us</h4>
                    </li>
                </ol>
                <p class="content">If you have any questions or concerns regarding this Privacy Policy or our practices, please <a href="{% url 'contact' %}"
                       style="color: #349d00; text-decoration: none; font-size: 16px; ">Contact
                        Us</a></p>
            </div>
            <!-- End Post Content -->

        </div>
        <!-- End Post -->
    </div>
</div>
<br>
<br>
<!-- End Article
================================================== -->

<!-- Begin Footer
================================================== -->
<div class="container">
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2023 ReiserX
        </p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static '/reiserx/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script async src="{% static '/reiserx/js/bootstrap.min.js' %}"></script>
<script async src="{% static '/reiserx/js/ie10-viewport-bug-workaround.js' %}"></script>
<script async src="{% static '/reiserx/js/mediumish.js' %}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMP7BP8M0"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-4FMP7BP8M0');
</script>

</body>
</html>
