{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Cancellation and Refund Policy</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'reiserx/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'reiserx/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reiserx/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'reiserx/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reiserx/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'reiserx/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reiserx/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'reiserx/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'reiserx/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'reiserx/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
</head>
<body>
    <h1>Donation Cancellation and Refund Policy</h1>

    <p>Thank you for your generous donation to ReiserX. Your support is greatly appreciated and helps us continue our mission. Please read this Cancellation and Refund Policy carefully before making a donation.</p>

    <h2>1. Non-Refundable Donations</h2>
    <p>1.1. All donations made to ReiserX are non-refundable. Once a donation is made, it cannot be canceled, reversed, or refunded for any reason.</p>

    <h2>2. Tax Deductibility</h2>
    <p>2.1. ReiserX is a website that relies on donations to support its operations. While your donation is non-refundable, it may be tax-deductible in your jurisdiction. Please consult with a tax professional for guidance on tax deductions related to your donation.</p>

    <h2>3. Payment Errors</h2>
    <p>3.1. In the event of a payment error or unauthorized transaction, please contact us immediately at <a href="support@reiserx.com">support@reiserx.com</a> to report the issue. We will investigate the matter and, if applicable, correct the error.</p>

    <h2>4. Contact Us</h2>
    <p>4.1. If you have any questions or concerns about our Donation Cancellation and Refund Policy, please contact us at [Contact Email]. We are here to assist you and provide any necessary information.</p>

    <footer>
        <p>Effective Date: 12 September, 2023</p>
    </footer>
</body>
</html>
