{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReiserX Terms of Service</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'reiserx/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'reiserx/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'reiserx/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'reiserx/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'reiserx/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'reiserx/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'reiserx/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'reiserx/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'reiserx/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'reiserx/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'reiserx/img/favicons/favicon-16x16.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-36x36.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-72x72.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'reiserx/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'reiserx/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'reiserx/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
</head>
<body>
    <h1>Terms of Service</h1>

    <h2>1. Acceptance of Terms</h2>
    <p>1.1. By accessing and using the ReiserX website ("Website"), you agree to comply with and be bound by these Terms of Service ("Terms"). If you do not agree with these Terms, please refrain from using the Website.</p>

    <h2>2. Privacy Policy</h2>
    <p>2.1. Your use of the Website is also governed by our <a href="{% url 'policy' %}">Privacy Policy</a>, which outlines how we collect, use, and protect your personal information. By using the Website, you consent to our data practices as described in the Privacy Policy.</p>

    <h2>3. User Conduct</h2>
    <p>3.1. You agree to use the Website in a lawful and responsible manner. You shall not engage in any activities that may harm the Website, its users, or violate any applicable laws or regulations.</p>

    <h2>4. Intellectual Property</h2>
    <p>4.1. The content on the Website, including but not limited to articles, blogs, images, and other materials, is protected by intellectual property laws. You may not use, reproduce, or distribute this content without our prior written consent.</p>

    <h2>5. User-Generated Content</h2>
    <p>5.1. Users may submit content to the Website ("User Content"). By submitting User Content, you grant us a non-exclusive, royalty-free license to use, display, and distribute it on the Website.</p>
    <p>5.2. You are solely responsible for your User Content and must not violate our <a href="{% url 'policy' %}">Acceptable Use Policy</a>.</p>

    <h2>6. Acceptable Use Policy</h2>
    <p>6.1. You agree not to use the Website to post or transmit content that violates any third-party rights, is unlawful, harassing, abusive, vulgar, defamatory, or in violation of any law.</p>

    <h2>7. Links to Third-Party Websites</h2>
    <p>7.1. The Website may contain links to third-party websites. We are not responsible for the content, privacy policies, or practices of these third-party sites. You access them at your own risk.</p>

    <h2>8. Cookies and Tracking</h2>
    <p>8.1. We use cookies and tracking technologies to improve your experience on the Website. By using the Website, you consent to the use of cookies in accordance with our <a href="{% url 'policy' %}">Privacy Policy</a>.</p>

    <h2>9. Disclaimer of Warranties</h2>
    <p>9.1. The Website is provided "as is" and "as available" without any warranties, expressed or implied. We do not guarantee the accuracy, reliability, or availability of the Website.</p>

    <h2>10. Limitation of Liability</h2>
    <p>10.1. We shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from your use or inability to use the Website.</p>

    <h2>11. Changes to Terms</h2>
    <p>11.1. We reserve the right to update or modify these Terms at any time. Any changes will be effective immediately upon posting on the Website. It is your responsibility to review these Terms periodically.</p>

    <h2>12. Contact Information</h2>
    <p>12.1. If you have any questions or concerns regarding these Terms of Service or our practices, please contact us through <a href="{% url 'contact' %}">this form</a> or email us at <a href="support@reiserx.com">support@reiserx.com</a></p>

    <footer>
        <p>Effective Date: 12 September, 2023</p>
    </footer>
</body>
</html>
