<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
<center>
    <p>I have created a secure and simple communication platform for you that works on any device in any form i.e web, app, etc. You will have to login again with same username and password as its hosted on different server and also to make sure that no one except you can use it.<a href="https://vocalhost.reiserx.com/chat/">Click here</a> </p>
</center>
</body>
</html>