{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'birthday/styles/open.css' %}" />
      <title>Message</title>
  </head>
  <body>
    <div class="text">
      <h1>Exam application 💖....</h1>
    </div>

      <div id="letter">
        <h1>For My <span>Love</span></h1>

        <!-- <img src="https://i.postimg.cc/5yZQnDpb/ukraine-7424066-640.webp" />-->
        <p>
            You know we are at this stage and you are my sharikehayat but I never proposed you 😂 we don't know how it started but it started. So today I will ask you and you have to accept 😌, understood.
            Since the day I saw your haya feelings started to appear in my heart, having thoughts, dreams and thinking how you look like 😂 as I had not saw you so I started with my imaginations and imagined you the way I wanted, childish, nakhre wli, mu fulane wli, and the one who loves me more than I love her, who will pray to Allah to make me as her sharikehayat, and there's more.
            As time passed by and you were not there for months, but I always waited for you I always wanted to talk to you. and then one day I saw you and this was same as I imagined and day by day whatever I wanted in my wife I found in you. Remember I started to flirt and all that hints I told u these are normal not my flirts but in reality this was real flirting 😂. And then you told me not to do that I felt bad and stopped it but You know it was just reduced because does't matter how much I hide it always came out in some form.
            And as time passed by those were literally visible and direct I don't know how but it was coming out from me. And then there was time when everybody left I wished you don't and you didn't you are the only who remained and you are the only that will remain, and nobody is going enter now. And when we're arguing on snapchat about multitasking and you said something that was huge for me and I thought maybe I am not the one you want so I left it to Allah, whatever he decides I will accept and left that snapchat.
            And now when you came this time you said something from which I understood there's something you're hiding and then you unfollowed girls from my instagram this gave rise to that thought and I wanted to know what it is. I couldn't just ask as by this you will never reveal it so I thought I should ask you in a way that does not looks like what I want to know and it should be big so that you don't ignore it. So I used your love for chocolates and created that ambiguous message then you said yes and again my thoughts increased so I said this is just a test there will be a final one but before that I need to clear everything that endangers it but you said I will not fail in this exam. this was the moment I saw that you love me 😂. So Ms Alizeh shahid this day 31st December 2023 I present to you that Exam 😌.
            <br />
          <a href="{% url 'pro_1_exam' %}">Click Here</a>
        </p>
      </div>
    </div>
  </body>
</html>
