<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="icon-container1 d-flex">

                    <div class="smd">
                        <a href="https://twitter.com/share?url=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}"
                           target="_blank">
                            <i class=" img-thumbnail fab fa-twitter fa-2x"
                               style="color:#4c6ef5;background-color: aliceblue"></i>

                        </a>
                        <p>Twitter</p>
                    </div>
                    <div class="smd">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}"
                           target="_blank">
                            <i class="img-thumbnail fab fa-facebook fa-2x"
                               style="color: #3b5998;background-color: #eceff5;"></i>
                        </a>
                        <p>Facebook</p>
                    </div>
                    <div class="smd">
                        <a href="whatsapp://send?text=Check%20out%20this%20link:%20https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}" data-action="share/whatsapp/share" target="_blank">
                        <i class="img-thumbnail fab fa-whatsapp fa-2x" style="color: #25D366;background-color: #cef5dc;"></i>
                        </a>
                        <p>Whatsapp</p>
                    </div>
                    <div class="smd">
                        <a href="fb-messenger://share/?link=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}" target="_blank">
                        <i class="img-thumbnail fab fa-facebook-messenger fa-2x" style="color: #3b5998;background-color: #eceff5;"></i>
                        </a>
                        <p>Messenger</p>
                    </div>
                </div>
                <div class="icon-container2 d-flex">
                    <div class="smd">
                        <a href="https://telegram.me/share/url?url=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}&text=Check%20out%20this%20link" target="_blank">
                        <i class="img-thumbnail fab fa-telegram fa-2x"
                                        style="color: #4c6ef5;background-color: aliceblue"></i>
                        </a>
                        <p>Telegram</p>
                    </div>
                    <div class="smd">
                        <a href="https://www.reddit.com/submit?url=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}&title=Check%20out%20this%20link" target="_blank">
                        <i class="img-thumbnail fab fa-reddit-alien fa-2x"
                                        style="color: #FF5700;background-color: #fdd9ce;"></i>
                        </a>
                        <p>Reddit</p>
                    </div>
                    <div class="smd">
                        <a href="https://discord.com/channels/your-server-ID/new?&referrer=share&source=button&withText=Share&url=https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}" target="_blank">
                        <i class="img-thumbnail fab fa-discord fa-2x "
                                        style="color: #738ADB;background-color: #d8d8d8;"></i>
                        </a>
                        <p>Discord</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <label style="font-weight: 600">Page Link
                    <span class="message"></span>
                </label>
                <br/>
                <div class="row">
                    <div class="col-10">
                        <input class="ur form-control" type="url" placeholder="https://reiserx.com/"
                               value="https://reiserx.com{% url 'open_shared' post.post_link.short_slug %}" readonly
                               id="myInput" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="col-2">
                        <button class="cpy btn btn-outline-primary" onclick="myFunction()"><i class="far fa-clone"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    function myFunction() {
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Display a message indicating that the link has been copied
        $(".message").text("Link copied");
    }
</script>