

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Documentation</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static "'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css" %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/typed.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body id="top">
<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- end preloader -->
<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">REISERX <span>DOCUMENTATION</span>
                </h2>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <p style="font-size: 16px">This service is intended for remote access to your devices for testing and educational purposes only. Any use of this service for malicious practices, harassment, spying, data breaches, or any actions that violate laws and regulations will result in immediate account suspension. By agreeing to our terms of use, you acknowledge that you are solely responsible for your actions while using this service. We will not be held responsible for any misuse of this service, and you must strictly adhere to all applicable laws and regulations, refraining from activities such as spying, data breaches, harassment, and any unlawful actions.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">REISERX REMOTE <span>FEATURES</span>
                </h2>
            </div>
            <div class="col-md-9 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-code"></i>
                        </div>
                        <h3 class="media-heading">COMMAND SYSTEM</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX driver and ReiserX panel connected with high speed server to deliver fully responsive
                            and ontime commands to ReiserX driver, You will perform an operation in ReiserX panel and it
                            will be executed in ReiserX driver and it will upload the data to our servers and then you
                            will be able to view it from ReiserX panel</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-server"></i>
                        </div>
                        <h3 class="media-heading">OPERATIONS</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX driver executes all the operations in background and the device (in which ReiserX
                            driver is installed) will not notify</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">

                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-files-o"></i>
                        </div>
                        <h3 class="media-heading">FILE OPERATIONS</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX remote supports all type of file operations (i.e READ, WRITE, DELETE) you can
                            get, add, delete, various types of files</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-book"></i>
                        </div>
                        <h3 class="media-heading">CONTACTS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get contact list</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h3 class="media-heading">CALL LOGS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get call logs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                        <h3 class="media-heading">LOCATION</h3>
                    </div>
                    <div class="media-body">
                        <p>Get gps location</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-history"></i>
                        </div>
                        <h3 class="media-heading">NOTIFICATION HISTORY</h3>
                    </div>
                    <div class="media-body">
                        <p>View Notification of the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-image"></i>
                        </div>
                        <h3 class="media-heading">SCREENSHOTS</h3>
                    </div>
                    <div class="media-body">
                        <p>Take screenshots</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file-audio-o"></i>
                        </div>
                        <h3 class="media-heading">RECORD AUDIO</h3>
                    </div>
                    <div class="media-body">
                        <p>Record audios from the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-camera"></i>
                        </div>
                        <h3 class="media-heading">CAMERA CAPTURE</h3>
                    </div>
                    <div class="media-body">
                        <p>Take picture</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file"></i>
                        </div>
                        <h3 class="media-heading">CLEAR PREFERENCE</h3>
                    </div>
                    <div class="media-body">
                        <p>Clear file system preferences</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <h3 class="media-heading">LAUNCH SERVICES</h3>
                    </div>
                    <div class="media-body">
                        <p>Launch services for ReiserX driver</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-android"></i>
                        </div>
                        <h3 class="media-heading">APP LIST</h3>
                    </div>
                    <div class="media-body">
                        <p>Get list of apps from the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <h3 class="media-heading">USAGE DATA STATS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get device usage stats</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-info"></i>
                        </div>
                        <h3 class="media-heading">DEVICE INFO</h3>
                    </div>
                    <div class="media-body">
                        <p>Get device info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file-o"></i>
                        </div>
                        <h3 class="media-heading">APP LOGS</h3>
                    </div>
                    <div class="media-body">
                        <p>View app logs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">REISERX <span>INSTALLATION</span>
                </h2>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 18px"><span> 1. INSTALLATION: REISERX DRIVER</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                    <p style="font-size: 16px">1. Install the application in device A.  <a href="{{ const.CONSTANT.REISERX_DRIVER_DOWNLOAD_URL }}"> download here</a></p>
                <p style="font-size: 16px">2. Grant Notification access permission from Settings/Apps/Special access</p>
                <p style="font-size: 16px">3. The application will be launched automatically, if not launched dial *8724# to launch it manually</p>
                <p style="font-size: 16px">4. Complete the checklist displayed in application</p>
                <p style="font-size: 16px">5. Login</p>
                <p style="font-size: 16px">6. A QR code with device code will be displayed</p>
                <p style="font-size: 16px">Done</p>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 18px"><span> 1.1. REQUIRED PERMISSION: REISERX DRIVER</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">1. Call logs - to get access to call logs</p>
                <p style="font-size: 16px">2. Contacts - for get access to contacts</p>
                <p style="font-size: 16px">3. Files and media (for Android 11+ Give all files access) - to operate all files operations</p>
                <p style="font-size: 16px">4. Location (for android 11+ give background location permission) - to trace the device</p>
                <p style="font-size: 16px">5. Microphone - to get acess to record audio</p>
                <p style="font-size: 16px">6. Draw over other apps/Appear on top - to perfectly launch the application
                <p style="font-size: 16px">7. Camera - to get easy access to fetch images</p>
            </div>

                <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                    <header>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <p style="font-size: 18px"><span> 1.2. SPECIAL PERMISSION: REISERX DRIVER</span></p>
                                </div>
                            </div>
                        </div>
                    </header>
                <p style="font-size: 16px">1. Ignore battery optimization - this is to assure that the service is running throughout permanently</p>
                <p style="font-size: 16px">2. Notification access - to get easy access to record notification and to restart the service</p>
                <p style="font-size: 16px">3. Usage access - to get access to device usage stats 
                    (screentime, application screentime, no. of launches per application</p>
                </div>

                <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                    <header>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <p style="font-size: 18px"><span> 1.3. ACCESSIBLITY ACCESS: REISERX DRIVER</span></p>
                                </div>
                            </div>
                        </div>
                    </header>
                <p style="font-size: 16px">1. On launching the app you will be redirected to checklist, from there you have to Start Accessibility service for ReiserX driver, you also have to do this everytime you install an update Accessibility service is used to Record audios, take screenshot, camera capture</p>
                <p style="font-size: 16px">2. ReiserX for some devices: Xiaomi/Oppo/Vivo & other phones with cusom UI: you have to manually
                    enable Background
                    data access and Auto restart permission from App info</p>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 18px"><span> 2. INSTALLATION: REISERX PANEL</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">1. Install the application in Device B.  <a href="{{ const.CONSTANT.REISERX_PANEL_DOWNLOAD_URL }}"> Install from Google Play</a></p>
                <p style="font-size: 16px">2. Launch the application</p>
                <p style="font-size: 16px">3. Create an account for yourself</p>
                <p style="font-size: 16px">5. verify your account</p>
                <p style="font-size: 16px">6. After successfully logging in you will be
                    moved to the Home Page of the application</p>
                <p style="font-size: 16px">7. Grant storage and camera permission </p>
                <p style="font-size: 16px">8. Tap on + icon present on the Home page </p>
                <p style="font-size: 16px">9. Connect to device A by scanning the QR code or enter device code</p>
                <p style="font-size: 16px">You're all set to go, now you can remote access device A and fetch data</p>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 18px"><span> 2.1. OPERATING GUIDE: REISERX PANEL</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">ReiserX executes all the operations 
                    in background and the device
                     (in which ReiserX driver is installed) will not be notified</p>
                <p style="font-size: 16px">1. Click on connected devices list</p>
                <p style="font-size: 16px">2. Service info page will be displayed</p>
                <p style="font-size: 16px">3. ReiserX driver will only execute operations when its service is active, you can view it on Operations Activity>service active</p>
                <p style="font-size: 16px">4. Then you can see network state, screen lock, 
                    currently running application, 
                    and the version downloaded on device A </p>
                <p style="font-size: 16px">5. Then to get access to device A data
                     you have to click on the Operations button </p>
                <p style="font-size: 16px">6. Operations list page displays </p>
                <p style="font-size: 16px">7. Then first we have DIRECTORIES</p>
                <p style="font-size: 16px">8. Click that and you will get access to all device
                    files (WE DO NOT ENCOURAGE DATA BREACHING)</p>
                <p style="font-size: 16px">9. Next we have CONTACTS, There you get to all their contacts list </p>
                <p style="font-size: 16px">10. Next we have CALL LOGS, you can see all their call logs </p>
                <p style="font-size: 16px">11. Next we have LOCATION, With this we can trace the exact location of the device</p>
                <p style="font-size: 16px">12. Next we have NOTIFICATION HISTORY, you can receive and read all the notification
                    of the device A</p>
                <p style="font-size: 16px">13. Next we have SCREENSHOT, you can take a screenshot from device A
                    (for Android 8,9 the user will be notified for the screenshot)</p>
                <p style="font-size: 16px">14. Next we have RECORD AUDIO, you can record the audio of
                    the device by selecting the duration of the recording</p>
                <p style="font-size: 16px">15. Next we have CAMERA CAPTURE, you can capture the image from device A
                    camera when you click camera capture then you have a camera icon at
                    the bottom click it then select front view or rear view then the image will be
                    captured and will be uploaded to the system within seconds</p>
                <p style="font-size: 16px">16. Next we have CLEAR PREFERENCE, it is file operations caches data, clear it only when you encounter any problems in file operations</p>
                <p style="font-size: 16px">17. Next we have LAUNCH SERVICE, ReiserX driver launch services</p>
                <p style="font-size: 16px">18. Next we have APP LIST, get the list of all the
                    applications present in device A</p>
                <p style="font-size: 16px">19. Next we have USAGE STATS DATA, get screen time,
                    no. of launches of every selected applications </p>
                <p style="font-size: 16px">20. Next we have DEVICE INFO, get Device A information </p>
                <p style="font-size: 16px">21. To launch ReiserX driver launch it from Operations list>launch services or dial *8724#</p>
            </div>

                <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                    <header>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-4 col-xs-12">
                                    <p style="font-size: 20px"><span> WE DO NOT ENCOURAGE TO USE THIS SYSTEM FOR USE 
                                        OTHER THAN TESTING AND EDUCATIONAL PURPOSE</span></p>
                                </div>
                            </div>
                        </div>
                    </header>
                    
                    <p style="font-size: 16px"> For any Queries regarding our terms and policies you can contact us at:
                    support@reiserx.com or <a href="{% url 'contact' %}">click here</a></p>

                <br>
                <p style="font-style: italic">Updated on 26th September 2023</p>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- start copyright -->
<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Copyright &copy; 2022 ReiserX</p>
            </div>
        </div>
    </div>
</footer>
<!-- end copyright -->

</body>
</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>