{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of service</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
</head>
<body>
<strong style="font-size: 20px">REISERX-REMOTE TERMS OF SERVICE/TERMS OF USE</strong>
<br>
<br>
<strong style="font-size: 18px">1. Introduction</strong>
<p style="font-size: 16px">This service is brought to you by ReiserX and it is intended for remote access to your devices for testing and educational purposes only. Any use of this service for malicious practices, harassment, spying, data breaches, or any actions that violate laws and regulations will result in immediate account suspension. By agreeing to our terms of use, you acknowledge that you are solely responsible for your actions while using this service. We will not be held responsible for any misuse of this service, and you must strictly adhere to all applicable laws and regulations, refraining from activities such as spying, data breaches, harassment, and any unlawful actions.</p>

<strong style="font-size: 18px">2. Defaulter</strong>
<p style="font-size: 16px">The term defaulter in this policy corresponds to spying, data breach, molesting, harassment,
    illegal use of this system, modifying it.</p>

<strong style="font-size: 18px">3. Purpose of this system</strong>
<p style="font-size: 16px">This service is intended for remote access to your devices for testing and educational purposes only. Any use of this service for malicious practices, harassment, spying, data breaches, or any actions that violate laws and regulations will result in immediate account suspension. By agreeing to our terms of use, you acknowledge that you are solely responsible for your actions while using this service. We will not be held responsible for any misuse of this service, and you must strictly adhere to all applicable laws and regulations, refraining from activities such as spying, data breaches, harassment, and any unlawful actions.</p>

<strong style="font-size: 18px">4. Blocking</strong>
<p style="font-size: 16px">We can block your account and your device from using this system at any time without
    informing you, we reserve the right to block and we will if you are found to be a defaulter.</p>

<strong style="font-size: 18px">5. Modifying this system</strong>
<p style="font-size: 16px">If you modify this system our terms of service and privacy policy will not apply to it and we
    will not be responsible if anything happens to you or your device, our privacy policy and terms of use applies to
    our Original ReiserX remote.</p>

<strong style="font-size: 18px">6. Policy updates</strong>
<p style="font-size: 16px">We can update this policy at anytime and you will be informed either by Push notification,
    email, or announcement on our website {{ const.CONSTANT.WEBSITE_URL }}</p>

<strong style="font-size: 19px">WE DO NOT ENCOURAGE TO USE THIS SYSTEM FOR USE OTHER THAN TESTING AND EDUCATIONAL
    PURPOSE</strong>
<p style="font-size: 16px">By accepting this terms of use you agree to our terms and conditions as well as all the
    privacy policies.</p>

<strong style="font-size: 18px">CONTACT US</strong>
<p style="font-size: 16px">If you have any queries about our policies you can contact us anytime From <a href="{% url 'contact' %}">contact us</a> or by email: {{ const.CONSTANT.EMAIL_ADDRESS }}</p>

<p style="font-style: italic">Updated on 26th September 2023</p>
</body>
</html>