{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReiserX</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static "'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css" %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/typed.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body id="top">

<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- end preloader -->

<!-- start header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <p><i class="fa fa-envelope-o"></i><span> Email</span><a
                        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ const.CONSTANT.EMAIL_ADDRESS }}">{{ const.CONSTANT.EMAIL_ADDRESS }}</a>
                </p>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="navbar navbar-default templatemo-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">ReiserX</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#top">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#team">DOWNLOAD</a></li>
                <li><a href="#service">DOCS</a></li>
                <li><a href="#portfolio">MEDIA</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navigation -->

<!-- start home -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">ReiserX <span>system</span></h1>
                <div class="element">
                    <div class="sub-element">Hello aliens</div>
                    <div class="sub-element">Brought to you by ReiserX a system that you need</div>
                    <div class="sub-element">Download, install and fly</div>
                </div>
                <a data-scroll href="{% url 'Documentation' %}" class="btn btn-default wow fadeInUp"
                   data-wow-offset="50"
                   data-wow-delay="0.6s">GET STARTED</a>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">ABOUT REISERX <span>SYSTEM</span>
                </h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-download"></i>
                        </div>
                        <h3 class="media-heading">INSTALL</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX system for remote access to your device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-connectdevelop"></i>
                        </div>
                        <h3 class="media-heading">CONNECT</h3>
                    </div>
                    <div class="media-body">
                        <p>Connect to your device and access it anytime from anywhere in the world</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <h3 class="media-heading">FLY</h3>
                    </div>
                    <div class="media-body">
                        <p>Using this you can get every type of data from your phone, just a simple setup and you are
                            ready to fly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- start team -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>DOWNLOAD</span> REISERX</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="{% static 'images/screen3.png' %}" class="img-responsive" alt="team img 3">
                    <div class="team-des">
                        <h4 style="color:white;">REISERX PANEL</h4>
                        <a href="{{ const.CONSTANT.REISERX_DRIVER_DOWNLOAD_URL }}" style="color:white;"><span>INSTALL from Google play</span></a>
                        <p style="color:white;">ReiserX panel a control panel for this system</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="{% static 'images/1024.png' %}" class="img-responsive" alt="team img 4">
                    <div class="team-des">
                        <h4 style="color:white;">REISERX DRIVER</h4>
                        <a href="{{ const.CONSTANT.REISERX_DRIVER_DOWNLOAD_URL }}"
                           style="color:white;"><span>DOWNLOAD</span></a>
                        <p style="color:white;">ReiserX driver that needs to be install on Device A</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team -->

<!-- start service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>IMPORTANT</span> DOCS</h2>
            </div>
            <a href="{% url 'ReiserX privacy policy' %}" style="text-decoration:none;">
                <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-lock"></i>
                    <h4>Privacy policy - ReiserX system</h4>
                    <p style="color:white;">Privacy policy for ReiserX, please read this before using the app</p>
                </div>
            </a>
            <a href="{% url 'Documentation' %}" style="text-decoration:none;">
                <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                    <i class="fa fa-mobile-phone"></i>
                    <h4>Documentation</h4>
                    <p style="color:white;">Documention for ReiserX system, Features, setup guide, etc</p>
                </div>
            </a>
            <a href="{% url 'terms of use' %}" style="text-decoration:none;">
                <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-book"></i>
                    <h4>Terms of service</h4>
                    <p style="color:white;">Terms of service for ReiserX, please read this before using the
                        app</p>
                </div>
            </a>
            <a href="{% url 'policy' %}" style="text-decoration:none;">
                <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-lock"></i>
                    <h4>Privacy policy - ReiserX panel</h4>
                    <p style="color:white;">Privacy policy for ReiserX panel, please read this before using the app</p>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- end servie -->

<!-- start portfolio -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>REISERX</span> MEDIA</h2>
            </div>
        </div>
        {% for media1 in medias %}
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="{{ media1.img.url }}" class="img-responsive">
                    <div class="portfolio-overlay">
                        <h4>{{ media1.name }}</h4>
                        <p>{{ media1.desc }}</p>
                        {% if media1.isInternal %}
                            <a href="{% url 'media' media1.pk %}" class="btn btn-default">DETAIL</a>
                        {% else %}
                            <a href="{{ media1.link }}" class="btn btn-default">DETAIL</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
</section>
<!-- end portfolio -->

<!-- start contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>US</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <form action="contact" method="post">

                    {% csrf_token %}

                    <label>NAME</label>
                    <input name="fullname" type="text" class="form-control" id="fullname" required>

                    <label>EMAIL</label>
                    <input name="email" type="email" class="form-control" id="email" required>

                    <label>MESSAGE</label>
                    <textarea name="message" rows="4" class="form-control" id="message" required></textarea>

                    <input type="submit" class="form-control">
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <address>
                    <p class="address-title">OR CONTACT ON</p>
                    <span>For any Queries about our policy, setup, support you can contact us anytime we will respond as soon as possible.</span>
                    <p><i class="fa fa-envelope-o"></i><a
                            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ const.CONSTANT.EMAIL_ADDRESS }}"
                            style="color:white;">{{ const.CONSTANT.EMAIL_ADDRESS }}</a></p>
                    <p><i class="fa fa-map-marker"></i> Mumbai, India</p>
                </address>
                <ul class="social-icon">
                    <li><h4>OUR SOCIAL MEDIA ACCOUNTS WILL BE HERE ASAP!</h4></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end contact -->

<!-- start copyright -->
<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Copyright &copy; 2022 ReiserX</p>
            </div>
        </div>
    </div>
</footer>
<!-- end copyright -->

</body>
</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>