{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setup</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
</head>
<body>
<strong style="font-size: 24px">REISERX SYSTEM SETUP</strong>
<br>
<br>
<strong style="font-size: 18px">1. Introduction</strong>
<p style="font-size: 18px">This system is created to remote access your devices and it is for testing and educational purpose only using it for malicious practices, molesting anyone, spying, data breaching will be considered as defaulter and you will be blocked immediately from the system. By agreeing to our terms of use you agree that by using this service if you did anything wrong with anyone only you will be responsible for it we will not be responsible for anything you do using this system. You have to abide by the Indian law and do not use it for spying, data breach, molesting, harassment, etc.</p>


<p style="font-style: italic">Updated on 14th July 2022</p>
</body>
</body>
</html>