

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Setup</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static "'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css" %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/typed.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body id="top">
<!-- start preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- end preloader -->
<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">REISERX <span>INTRODUCTION</span>
                </h2>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <p style="font-size: 16px">This system is created to remote access your devices and it is for testing
                    and educational purpose only using it for malicious practices, molesting anyone, spying, data
                    breaching will be considered as defaulter and you will be blocked immediately from the system. By
                    agreeing to our terms of use you agree that by using this service if you did anything wrong with
                    anyone only you will be responsible for it we will not be responsible for anything you do using this
                    system. You have to abide by the Indian law and do not use it for spying, data breach, molesting,
                    harassment, etc.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">REISERX SYSTEM <span>FEATURES</span>
                </h2>
            </div>
            <div class="col-md-9 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-code"></i>
                        </div>
                        <h3 class="media-heading">COMMAND SYSTEM</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX driver and ReiserX panel connected with high speed server to deliver fully responsive
                            and ontime commands to ReiserX driver, You will perform an operation in ReiserX panel and it
                            will be executed in ReiserX driver and it will upload the data to our servers and then you
                            will be able to view it from ReiserX panel</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-server"></i>
                        </div>
                        <h3 class="media-heading">BACKGROUND SERVICE</h3>
                    </div>
                    <div class="media-body">
                        <p>A background service ensures ReiserX driver runnning all the time, </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-server"></i>
                        </div>
                        <h3 class="media-heading">OPERATIONS</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX driver executes all the operations in background and the device (in which ReiserX
                            driver is installed) will not notify</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">

                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-files-o"></i>
                        </div>
                        <h3 class="media-heading">FILE OPERATIONS</h3>
                    </div>
                    <div class="media-body">
                        <p>ReiserX system supports all type of file operations (i.e READ, WRITE, DELETE) you can
                            get, add, delete, various types of files</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-book"></i>
                        </div>
                        <h3 class="media-heading">CONTACTS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get contact list</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h3 class="media-heading">CALL LOGS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get call logs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                        <h3 class="media-heading">LOCATION</h3>
                    </div>
                    <div class="media-body">
                        <p>Get gps location</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-history"></i>
                        </div>
                        <h3 class="media-heading">NOTIFICATION HISTORY</h3>
                    </div>
                    <div class="media-body">
                        <p>View Notification of the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-image"></i>
                        </div>
                        <h3 class="media-heading">SCREENSHOTS</h3>
                    </div>
                    <div class="media-body">
                        <p>Take screenshots</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file-audio-o"></i>
                        </div>
                        <h3 class="media-heading">RECORD AUDIO</h3>
                    </div>
                    <div class="media-body">
                        <p>Record audios from the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-camera"></i>
                        </div>
                        <h3 class="media-heading">CAMERA CAPTURE</h3>
                    </div>
                    <div class="media-body">
                        <p>Take picture</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file"></i>
                        </div>
                        <h3 class="media-heading">CLEAR PREFERENCE</h3>
                    </div>
                    <div class="media-body">
                        <p>Clear file system preferences</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <h3 class="media-heading">LAUNCH SERVICES</h3>
                    </div>
                    <div class="media-body">
                        <p>Launch services for ReiserX driver</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-android"></i>
                        </div>
                        <h3 class="media-heading">APP LIST</h3>
                    </div>
                    <div class="media-body">
                        <p>Get list of apps from the device</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <h3 class="media-heading">USAGE DATA STATS</h3>
                    </div>
                    <div class="media-body">
                        <p>Get device usage stats</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-info"></i>
                        </div>
                        <h3 class="media-heading">DEVICE INFO</h3>
                    </div>
                    <div class="media-body">
                        <p>Get device info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-file-o"></i>
                        </div>
                        <h3 class="media-heading">APP LOGS</h3>
                    </div>
                    <div class="media-body">
                        <p>View app logs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">SETUP <span>GUIDE</span>
                </h2>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 16px"><span> 1. REISERX DRIVER SETUP</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">1. Install the app in device A</p>
                <p style="font-size: 16px">2. Grant Notification access permission from Settings/Apps/Special access</p>
                <p style="font-size: 16px">3. The app will be launched automatically</p>
                <p style="font-size: 16px">4. Complete the checklist displayed in app</p>
                <p style="font-size: 16px">5. Login</p>
                <p style="font-size: 16px">6. A QR code with device code will be displayed</p>
                <p style="font-size: 16px">Done</p>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 16px"><span>1.1 REQUIRED PERMISSIONS FOR REISERX DRIVER</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">1. Call logs - for getting call logs
                    Files and media (for Android 11+ Give all files access) - for file operations</p>
                <p style="font-size: 16px">2. Contacts - for getting contacts</p>
                <p style="font-size: 16px">3. Files and media (for Android 11+ Give all files access) - for file
                    operations</p>
                <p style="font-size: 16px">4. Location (for android 11+ give background location permission) - to trace
                    the device</p>
                <p style="font-size: 16px">5. Microphone - for audio recording</p>
                <p style="font-size: 16px">6. Draw over other apps/Appear on top - for perfect launching of the app
                    Special permissions for ReiserX</p>
                <p style="font-size: 16px">7. Ignore battery
                    optimization - for service to run permanently</p>
                <p style="font-size: 16px">8. Notification access - to record notifications and service restart</p>
                <p style="font-size: 16px">9. Usage access - to get device
                    usage stats</p>
                <p style="font-size: 16px">10. Accessibility access for ReiserXOn launching the app you will be
                    redirected to
                    Accessibility settings from there you have to Start Accessibility service for ReiserX. Accessibility
                    service is used to Record audio in all devices & Capture screenshot in android 11+ ReiserX for some
                    devices</p>
                <p style="font-size: 16px">11. Xiaomi/Oppo/Vivo & other phones with cusom UI: you have to manually
                    enable Background
                    data access and Auto restart permission from App info</p>
            </div>

            <div class="col-md-12 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-4 col-xs-12">
                                <p style="font-size: 16px"><span> 2. REISERX PANEL SETUP</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <p style="font-size: 16px">1. Install the app in Device B</p>
                <p style="font-size: 16px">2. Create an account for you</p>
                <p style="font-size: 16px">3. Verify your account</p>
                <p style="font-size: 16px">4. After successfully login in you will be moved to Home page of the app</p>
                <p style="font-size: 16px">5. From
                    there tap on + icon button</p>
                <p style="font-size: 16px">6. Enter the ReiserX driver device code or SCAN the QR code displayed on
                    other device in
                    which ReiserX driver is installed</p>
                <p style="font-size: 16px">You're all set to go, now you can remote access device A and fetch data</p>

                <br>
                <p style="font-style: italic">Updated on 14th July 2022</p>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- start copyright -->
<footer id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Copyright &copy; 2022 ReiserX</p>
            </div>
        </div>
    </div>
</footer>
<!-- end copyright -->

</body>
</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>