{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of service</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon1.png' %}">
</head>
<body>
<strong style="font-size: 24px">REISERX TERMS OF SERVICE/TERMS OF USE</strong>
<br>
<br>
<strong style="font-size: 18px">1. Introduction</strong>
<p style="font-size: 18px">This service is brought to you by ReiserX for free of cost and it is created for only testing and educational purpose. Use of this service applies to both apps ReiserX and ReiserX - panel. If you want to use this service you have to accept our privacy policy and terms of service otherwise don't use it.</p>

<strong style="font-size: 18px">2. Defaulter</strong>
<p style="font-size: 18px">the term defaulter in this policy corresponds to spying, data breach, molesting, harassment, illegal use of this system, modifying it.</p>

<strong style="font-size: 18px">3. Purpose of this system</strong>
<p style="font-size: 18px">This system is created to remote access your devices and it is for testing and educational purpose only using it for malicious practices, molesting anyone, spying, data breaching will be considered as defaulter and you will be blocked immediately from the system.By agreeing to this terms of use you agree that by using this service if you did anything wrong with anyone only you will be responsible for it we will not be responsible for anything you do using this system.You have to abide by the Indian law and do not use it for spying, data breach, molesting, harassment, etc.</p>

<strong style="font-size: 18px">4. Blocking</strong>
<p style="font-size: 18px">We can block your account and your device from using this system at any time without informing you, we reserve the right to block and we will if you are found to be a defaulter.</p>

<strong style="font-size: 18px">5. Modifying this system</strong>
<p style="font-size: 18px">If you modify this system our terms of service and privacy policy will not apply to it and we will not be responsible if anything happens to you or your device, our privacy policy and terms of use applies to our Original ReiserX system.</p>

<strong style="font-size: 18px">6. Policy updates</strong>
<p style="font-size: 18px">We can update this policy at anytime and you will be informed either by Push notification, email, or announcement on our website</p>

<strong style="font-size: 19px">WE DO NOT ENCOURAGE TO USE THIS SYSTEM FOR USE OTHER THAN TESTING AND EDUCATIONAL PURPOSE</strong>
<p style="font-size: 18px">By accepting this terms of use you agree to our conditions and terms of service and privacy policy.</p>

<strong style="font-size: 18px">CONTACT US</strong>
<p style="font-size: 18px">If you have any queries about our policies you can contact us anytime From our website home page or by email: skzeeshan3650@gmail.com</p>

<p style="font-style: italic">Updated on 14th July 2022</p>
</body>
</body>
</html>